.hero {
    background-image: 
    url("../images/herobannercrop.jpg")
};

.navbar-item {
    font-family: 'Sora', sans-serif;;
}

h3 {
    font-family: 'Lora', serif;
}

h2 {
    font-family: 'Lora', serif;
}

h1 {
    font-family: 'Cormorant SC', serif;
}

.bio p {
    font-family: 'Source Sans Pro', sans-serif;
}